@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Regular.otf');
}

@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Light.otf');
  font-weight: 400;
}

:root {
  --font-color: #64EEBC;
  --font-white: #FFFFFF;
  --bg-color: #242424;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-white);
}

.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
  z-index: -1;
}
